:root {
    /*COLORS*/
    --color-cherry: #AB0232;
    --color-cherry-light: #AF0F3C;
    --color-white: #FFFFFF;
    --color-black: #1e1e1f;

    /*IMPLEMENTATIONS*/
    --hover-color: var(--color-cherry-light);

}