/*--------------------------------------FORMULARIO FOOTER---------------------------------*/

form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
    width: 80%;
    max-width: 700px;
   }
  
label {
    margin: 8px 0 0 0;
   }
  
textarea {
    height: 7rem;
    border-radius: 5px;
   }
  
input {
    border-radius: 5px;
    border: none;
   }
  
.aceptar {
    display: inline-block;
    margin: 8px 0 0 0;
  }

.link-priv {
    color: #FFFFFF;  
  }
  
[type="submit"] {
    justify-content: center;
    margin: 12px 0;
    width: 110px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #1C1C1E;
    padding: 10px 25px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    border: #FFFFFF 0.2rem solid;
  }
  
[type="submit"]:hover {
    background-color: #AF0F3C;
    border: #FFFFFF 0.2rem solid;
    color: #FFFFFF;
  }
  
 
  
@media only screen and (min-width: 950px) {
    .contactinfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8rem;
    }
  }